header nav {
    border-style: solid;
    border-width: 1px;
    border-color: goldenrod;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
header nav ul li {
    display: inline;
    padding: 15px;
}